h1{

 text-align: center;
 margin: 0;
 border: 0;
 padding: 0;
  
}
body{
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: black;
    min-height: 100vh;
    border: 0;
    
}
h2{
    color: BLACK;
    text-align: center;
    border-color: silver;
    margin: 0;
    
}
img{
    padding-left: 22%;
}
header{
    background-color: aliceblue;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    
}
span{
    color: pink;
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    
}
strong{
    color: pink;
    text-decoration: underline;
}
h3{
    text-align: center;
}